<div class="container">
    <% if (userType == 'incidentsManager' ||userType == 'ceo') { %>
    <div class="search-container">
        <form action="/search" method="GET">
            <input type="text" name="term" placeholder="Search incidents" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <% } %>


    <% if (userType == 'ceo') { %>
        <div style="width: 400px; height: 400px;margin: auto;">
            <canvas id="incidentStatusChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>

        <script>
        fetch('/incidents/status_counts')
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('incidentStatusChart');
                new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Closed', 'Open'],
                        datasets: [{
                            data: [data.closedCount, data.notClosedCount],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)', // color for Not Closed
                                'rgba(75, 192, 192, 0.2)', // color for Closed

                            ],
                            borderColor: [                                
                                'rgba(255, 99, 132, 1)',
                                'rgba(75, 192, 192, 1)',

                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                    }
                });
            });
        </script>
    <% } %>
    
    

    <h1>Incident Ticket List</h1>

    <% if (userType != 'programmer') { %>
        <a href="/add" class="btn" role="button" style ="width:fit-content">
          Add an incident
        </a>
    <% } %>
    
    <% if (view == "all") { %>
        <a href="/tickets/nc" class="btn" role="button" style="width: fit-content">Show only Open Incidents</a>

    <% } else { %>
        <a href="/tickets/all" class="btn" role="button" style="width: fit-content">Show all incidents</a>

    <% } %>

    <div class="row">
        <div class="col">
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope = "col">Record Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Responsibility</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Description</th>
                        <th scope="col">Narrative</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="ticketsList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < incidents.length; count++) { %>
                        <% if (view != "all" && incidents[count].status == "CLOSED") { continue; } %>

                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= incidents[count].recordNumber + "-0000" + count%></td>
                            <% if (incidents[count].status == 'OPEN') { %>
                                <td class="TicketOpen"><%= incidents[count].status %></td>
                            <% } else if (incidents[count].status == 'IN PROGRESS') { %>
                                <td class="TicketWaiting"><%= incidents[count].status %></td>
                            <% } else if (incidents[count].status == 'CLOSED') { %>
                                <td class="TicketResolved"><%= incidents[count].status %></td>
                            <% } else if (incidents[count].status == 'NEED REVIEW') { %>
                                <td class="TicketUnderReview"><%= incidents[count].status %></td>
                            <% } else if (incidents[count].status == 'NEW') { %>
                                <td class ="TicketNew"><%= incidents[count].status %></td>
                            <% } %>
                            <td><%= incidents[count].customerInformation %></td>
                            <td><%= incidents[count].priority %></td>
                            <td><%= incidents[count].description %></td>
                            <td class="narrative"><%= incidents[count].narrative %></td>
                            <td class="text-center col-1">
                                <a href="/edit/<%= incidents[count]._id %>"
                                    class="btn"> Edit</a>
                            </td>

                            <% if (userType != "programmer") { %>
                                <td class="text-center col-1">
                                    <a href="/delete/<%= incidents[count]._id %>"
                                        class="btn">Delete</a>
                                </td>
                            <% } %>
                            <% if (userType == "incidentsManager" || userType == "ceo") { %>
                                <td class="text-center col-1">
                                    <a href="/incidents/report/<%= incidents[count]._id %>"
                                        class="btn">Report</a>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
